# Allowlist: only the paths below are tracked
/*
!/.gitignore
!/README.md
!/install.sh
!/Brewfile
!/home/
!/local-bin/
!/vscode/
!/nvim/
!/zellij/
!/tmux/
!/ncspot/
!/git/
!/karabiner/

ncspot/*
!ncspot/config.example.toml
karabiner/automatic_backups/
.DS_Store
